.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.fps {
    background-color: #57c4ff31;
  }
  
  .categoryItem.storymode {
    background-color: #da85c731;
  }
  
  .categoryItem.sports {
    background-color: #7fb88133;
  }
  
  .categoryItem.arcade {
    background-color: #ff795736;
  }
  
  .categoryItem.rpg {
    background-color: #ffb04f45;
  }
  
  .categoryItem.openworld {
    background-color: #5e4fff31;
  }