.container{

display: flex;
justify-content: space-between;
align-items: center;
height: 100px;


}

.social{

display: flex;
gap: 10px;
flex: 1;

}

.logo{
   
   flex: 1;
   align-items: center;
    margin-top: 3.5rem;

}

.links{

display: flex;
gap: 20px;
align-items: center;
flex: 1;

}

@media screen and (max-width: 1024px) {
  
.social{
    display: none;

}
.logo{
    text-align: left;

}
}
@media screen and (max-width: 768px) {
  

.logo{
  
margin-top: 5rem;
  

}

}
@media screen and (max-width: 640px) {
  
.links{

justify-content: flex-end;


}
.link{
    display: none;

}

}